@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
    
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
